<head>
    <link rel="stylesheet" type="text/css" href="/assets/ideas.css.scss" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>

</head>

<body>
  <div id="newIdea">
    <div class="row">
      <div class="col-md-12">
          <%= form_for Idea.new, :url => { :action => "create" }, :html => { :multipart => true } do |f| %>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="idea-countdown">140</span>
              <%= f.text_field :blurb, :class => "form-control",  :autocomplete => "off", :placeholder => "What's your latest idea?", :maxlength => 140 %>
              <div class="input-group-btn">
                <!-- Button and dropdown menu -->
                <%= f.submit "post", :class => "btn btn-default", :id => "new-idea-post-button", :tabindex => "-1" %>
                <button type="button" id="new-idea-dropdown" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu pull-right">
                  <li><a class="btn-default btn-file">Attach a photo<%= f.file_field :photo %></a></li>
                  <li><a class="btn-default btn-file">Add more photos!<%= file_field_tag('idea_attachments_attach', multiple: true, name: "idea[attachments_attributes][][attach]") %></a></li>
                  <li><a href="#">Add a full description</a></li>
                  <!--<li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li> -->
                </ul>
              </div>
            </div>
          <% end %>
      </div>
    </div>
  </div>

  <div id="wrapper">
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
      <!-- make sure this only fetches necessary fields for each idea rather than all ideas and selecting fields after -->
      <% @ideas.reverse.each do |idea| %>
        <% if idea.photo.exists? %>
          <% photoExists = true %>
          <div class="item w2">
          <%= link_to idea, :class => "ideaLink w2" do %><%end%>
        <% else %>
          <div class="item">
          <%= link_to idea, :class => "ideaLink" do %><%end%>
        <% end %>
            <% if photoExists %>
              <%= image_tag(idea.photo.url(:medium), :class => "img-container")%>
            <% end %>
            <% if photoExists %>
              <p class="pw2">
            <% else %>
              <p>
            <% end %>
              <%= idea.blurb %>
            <p>
            <div class="item-buttons">

              <%= link_to follow_path(idea), :class => "follow-button", :remote => true, :id => idea.id, :method => :put do %>
                <%= image_tag "icon_18944.png" %>
              <% end %>
              <div class="follow-count">
                <%= idea.followers_count %>
              </div>

              <%= link_to like_path(idea) , :class => "like-button", :remote => true, :id => idea.id, :method => :put do %>
                  <%= image_tag "icon_19367.png" %>
              <% end %>
              <div class="like-count">
                <%= idea.votes.size %>
              </div>
            </div>
          </div>
      <%end%>
  </div>
</div>

</body>





<!--
<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= render_idea(idea) %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
-->
