
<head> 
  <link rel="stylesheet" type="text/css" href="/assets/ideas.css.scss" />
</head>


<body> 
    <div id="wrapper">
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">

        <% @ideas.each do |idea| %>
            <%= link_to (idea) do %>
                <div class="item">
                    <p><%= idea.description %><p>
                </div>
          <% end %>
    <%end%>


    <div class="item" id="balls">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2"> 
      <img class="img-container" src="assets/img1.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img11.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>
    <div class="item w2">
      <img class="img-container" src="assets/img3.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>
    
    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img4.jpg">
      <p  class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>
    
    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>
    
    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img5.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img9.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>
    
    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>      
    
    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img class="img-container" src="assets/star.png">
      </div>
    </div>    

    <div class="item w2">
      <img class="img-container" src="assets/img6.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img7.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>
    
    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>    
    
    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">Lorem ipsum dolor sit amet, consectetur adipisicing elit, incididunt ut labore et dolore magna aliqua.</div>

    <div class="item w2">
      <img class="img-container" src="assets/img1.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img9.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>    

    <div class="item w2">
      <img class="img-container" src="assets/img10.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img11.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item w2">
      <img class="img-container" src="assets/img1.jpg">
      <p class="pw2">dipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

    <div class="item">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<p>
      <div class="follow-button">
        <img src="assets/star.png">
      </div>
    </div>

  </div>
</div>

</body>





<!--
<h1>Listing ideas</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= render_idea(idea) %></td>
        <td><%= link_to 'Show', idea %></td>
        <td><%= link_to 'Edit', edit_idea_path(idea) %></td>
        <td><%= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Idea', new_idea_path %>
-->
