<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>

<div id="new-idea">
 <!--  <h3>New idea</h3> -->
  <%= form_for @idea, url: {action: "create"}, id: "new" do |f| %>
<!--       <div id="new-idea-cover-photo">
        <%= image_tag "default_pro_pic.jpg", :id => "add-cover-photo-img" %>
      </div> -->

<!--       <div id="new-idea-buttons">
        <div class="new-idea-button left">
          <%= f.file_field :photo, id: "cover-photo-file-field" %>
        </div>
        <div class="new-idea-button right">
        </div>
      </div>  -->

      <%= f.text_field :blurb, id: "edit-blurb", placeholder: "Quick blurb...", maxlength: "140", autocomplete: "off" %>

      <%= f.text_area :problem, id: "edit-problem", placeholder: "What is the problem?", autocomplete: "off" %>

      <%= f.text_area :solution, id: "edit-solution", placeholder: "How do you want to solve it?", autocomplete: "off" %>

      <div id="new-idea-submit-wrapper">
        <%= f.submit "Done", id: "edit-idea-done-button" %>
      </div>
  <% end %>
</div>

