<head>
  <link rel="stylesheet" type="text/css" href="/assets/idea.css.scss" />
</head>

<p id="notice"><%= notice %></p>

<div class="container">
    <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
        <div class="item picture">
            <img class="img-container" src="/assets/img4.jpg">
        </div>

        <div class="item description">
            <p> Long Description </p>
            <%= @idea.description %>
        </div>

        <div class="item progress">
            <p> Progress tree </p>
        </div>

        <div class="item summary">
            <p> Short Description </p>
            <%= @idea.description %>
        </div>

        <div class="item comments">
            <p> Comments </p>
        </div>
    </div>
</div>

<div class="container">
    <%= link_to 'Edit', edit_idea_path(@idea) %> |
    <%= link_to 'Back', ideas_path %>
</div>


