<head>
  <link rel="stylesheet" type="text/css" href="/assets/idea.css.scss" />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300' rel='stylesheet' type='text/css'>
</head>

<p id="notice"><%= notice %></p>

<div id="mainContainer">
    <div id="sideBarColumn">
        <% if @idea.photo.exists? %>
            <div class="section coverPhoto">
                  <%= image_tag(@idea.photo.url(:medium))%>
            </div>
        <% end %>
        <div class="section contributors", id="contributors_section">
            <div class="contributor">
                <h1> Creator </h1>
                <hr>
                <%= link_to profile_path(@idea.user_id), :class => "contributor-profile-link" do %><%end%>
                <div class="contributorImg">
                    <% if @idea.user.avatar.exists? %>
                        <%= link_to image_tag(@idea.user.avatar.url(:medium)), profile_path(@idea.user_id) %>
                    <% else %>
                        <%= link_to image_tag("default_pro_pic.jpg"), profile_path(@idea.user_id)%>
                    <% end %>
                </div>
                <div class="contributorContent">
                    <p><%= @idea.user.name %></p>
                </div>
            </div>
            <div id="contributor_list">
                <h1> Contributors </h1>
                <hr>
                <%= render :partial => @idea.contributors %>
            </div>
            <div class="contributorButton", id="contributorButton">
                <% if current_user.contributors.select {|o| @idea.contributors.include? o}.size == 0 %>
                    <%= render 'addContributorButton' %>
                <% else %>
                    <%= render 'removeContributorButton' %>
                <% end %>
            </div>
        </div>

        <%= link_to edit_idea_path(:idea => @idea.id), :id => "edit-idea-button", :class => "btn btn-default btn-block", :type => "button" do %>Edit Idea<% end %>

    </div>
    <div id="contentColumn">
        <div class="update_input">
            <% if current_user.contributors.select {|o| @idea.contributors.include? o}.size != 0 %>
                <%= render 'addUpdateBar' %>
            <% end %>
        </div>

        <div class="section blurb">
            "<%= @idea.blurb %>"
        </div>

        <% if (@idea.problem && @idea.problem.length != 0) || (@idea.solution && @idea.problem.length != 0)%>
        <div class="section description">
            <% if @idea.problem && @idea.problem.length != 0 %>
            <p class="question">
                What is the problem?
            </p>
            <p class="answer">
                <%= @idea.problem %>
            </p>
            <% end %>
            <% if @idea.solution && @idea.solution.length != 0%>
            <p class="question">
                How do you want to solve it?
            </p>
            <p class="answer">
                <%= @idea.solution %>
            </p>
            <% end %>
            <% end %>
        </div>


        <% if @idea.attachments.count != 0 %>
            <div class="section media">
                <div class="flexslider">
                    <ul class="slides">
                        <% @idea.attachments.each do |img| %>
                            <li><%= link_to image_tag(img.attach.url(:medium)), img.attach.url(), :data => {:imagelightbox=>"a"} %></li>
                        <% end %>
                    </ul>
                </div>
            </div>
        <% end %>

        <div class="section comments">
            <div id="disqus_wrapper">
              <div id="disqus_thread"></div>
              <script type="text/javascript">
                  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                  var disqus_shortname = 'scratchpaperdev'; // required: replace example with your forum shortname

                  /* * * DON'T EDIT BELOW THIS LINE * * */
                  (function() {
                      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                  })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
              <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
    </div>
    <div id="updatesColumn">
        <div class="section updates">
            <div class="updates title">
                Updates Ticker
            </div>
            <hr>
            <div class="updates ticks">
                <%= render :partial => @idea.updates.reverse %>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/assets/show.js" ></script>
</div>
