<head>
  <link rel="stylesheet" type="text/css" href="/assets/idea.css.scss" />
</head>

<p id="notice"><%= notice %></p>

<div id="mainContainer">
    <div id="sideBarColumn">
        <div class="item coverPhoto">
            <% if @idea.photo.exists? %>
              <%= image_tag(@idea.photo.url(:medium), :class => "img-container")%>
            <% end %>
        </div>
        <div class="item poster">
        </div>
    </div>
    <div id="contentColumn">
        <div class="item description">
            <%= @idea.blurb %>
        </div>
        <div class="item fullDescription">
        </div>
        <div class="item media">
        </div>
        <div class="item comments">
        </div>
    </div>
</div>

    <%= link_to 'Edit', edit_idea_path(@idea) %> |
    <%= link_to 'Back', ideas_path %>



