<%= div_for update do %>
    <% user = update.user %>
    <div class="updates tick <%= update.id %>">
        <div class="updates description <%= update.id %>", onclick="expandTick(<%= update.id %>)">
            <p><%= update.description %></p>
        </div>
        <div class="userIDBox">
            <p>-<%= user.name %> &#160; at &#160; <%= update.created_at.strftime("%I:%M - %d %b %Y") %></p>
        </div>
    </div>
    <hr>
<% end %>
